*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;
background:#F8F7F3;
color:#181818;
overflow-x:hidden;

}

header{

position:fixed;

top:0;
left:0;

width:100%;

padding:28px 8%;

display:flex;

justify-content:space-between;
align-items:center;

z-index:100;

background:rgba(248,247,243,.65);

backdrop-filter:blur(18px);

}

.logo-title{

font-size:18px;

font-weight:600;

letter-spacing:4px;

}

.logo-subtitle{

margin-top:-2px;

margin-left:92px;

font-family:'Cormorant Garamond',serif;

font-size:21px;

font-style:italic;

color:#C9A227;

}

.btn-nav{

text-decoration:none;

padding:15px 34px;

border-radius:999px;

border:1px solid #181818;

color:#181818;

transition:.35s;

}

.btn-nav:hover{

background:#181818;

color:white;

}

.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

padding:140px 8% 80px;

overflow:hidden;

}

.hero-content{

width:100%;

max-width:1400px;

position:relative;

}

.hero-text{

position:relative;

}

.title{

display:flex;

flex-direction:column;

position:relative;

line-height:.95;

}

.title-1{

font-family:'Outfit',sans-serif;

font-size:110px;

font-weight:700;

z-index:3;

position:relative;

}

.title-2{

font-family:'Outfit',sans-serif;

font-size:82px;

font-weight:600;

margin-top:18px;

margin-left:140px;

z-index:3;

position:relative;

}

.title-god{

position:absolute;

right:30px;

top:55px;

font-size:190px;

font-family:'Cormorant Garamond',serif;

font-weight:700;

background:linear-gradient(180deg,#F8E6A4,#D4AF37,#B8860B);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

opacity:.95;

z-index:1;

}

.title-3{

font-family:'Outfit',sans-serif;

font-size:88px;

font-weight:600;

margin-top:60px;

margin-left:520px;

z-index:3;

position:relative;

}

.subtitle{

margin-top:70px;

max-width:700px;

font-size:22px;

line-height:1.8;

color:#6b6b6b;

}

.btn-hero{

display:inline-block;

margin-top:45px;

padding:20px 48px;

background:#181818;

color:white;

text-decoration:none;

border-radius:999px;

font-weight:500;

transition:.35s;

}

.btn-hero:hover{

transform:translateY(-4px);

}

.glow{

position:absolute;

width:900px;

height:900px;

background:radial-gradient(circle,rgba(255,255,255,1) 0%,rgba(255,245,220,.8) 30%,rgba(214,175,85,.2) 60%,transparent 100%);

top:50%;

left:50%;

transform:translate(-50%,-50%);

filter:blur(45px);

z-index:0;

}
